{% load customfilter %}
<div class="container-fluid">
    <form action=" " id="product-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <div class="form-group mb-3 ">
            <label for="code" class="control-label">Product Code</label>
            <input type="text" class="form-control rounded-0" id="code" name="code" value="{{ product.code }}" required>
        </div>
        <div class="form-group mb-3 ">
            <label for="name" class="control-label">Product Name</label>
            <input type="text" class="form-control rounded-0" id="name" name="name" value="{{ product.name }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea class="form-control rounded-0" name="description" id="description" rows="5" required>{{ product.description }}</textarea>
        </div>
        <div class="form-group mb-3 ">
            <label for="price" class="control-label">Price</label>
            <input type="number" step="any" class="form-control rounded-0 text-end" id="price" name="price" value="{{ product.price }}" required>
        </div>
        <div class="form-group mb-3 ">
            <label for="status" class="control-label">Status</label>
            <select name="status" id="status" class="form-select rounded-0">
                {% if not product.status or product.status == '1' %}
                <option value="1" selected>Active</option>
                {% else %}
                <option value="1" >Active</option>
                {% endif %}
                {% if product.status == '2' %}
                <option value="2" selected>Inactive</option>
                {% else %}
                <option value="2" >Inactive</option>
                {% endif %}
            </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#product-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                url: "{% url 'save-product' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured ", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg ")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg)
                    } else {
                        el.text("An error occured ", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal ").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>